In [209]:
import os
import pandas as pd 
import numpy as np
import json
from IPython.display import display

In [210]:
df_timeseries = pd.read_csv('/Users/jasleenmadan/Documents/Workspace/Projects/Field_Project/MultiDataset_CBL/analysis_data/post_sentiments_gemma.csv')
df_timeseries.shape

(373101, 21)

In [211]:
df_timeseries.columns

Index(['upvote_ratio', 'created_utc', 'id', 'num_comments', 'score',
       'created_et_date', 'created_et_timestamp', 'created_et_time',
       'fulltext', 'is_trade_day', 'is_trade_time', 'gme_timeline',
       'General Reasoning', 'Why Positive', 'Positive', 'Why Negative',
       'Negative', 'Why Neutral', 'Neutral', 'Stocks Mentioned',
       'Raw_Response'],
      dtype='object')

In [212]:
df_timeseries = df_timeseries[['id', 'num_comments', 'score',
       'created_et_date', 'created_et_time', 'gme_timeline',
       'Positive','Negative', 'Neutral', 'Stocks Mentioned']]

In [213]:
df_timeseries['Net Sentiment'] = df_timeseries['Positive'] - df_timeseries['Negative']

In [214]:
df_timeseries.head()

,id,num_comments,score,created_et_date,created_et_time,gme_timeline,Positive,Negative,Neutral,Stocks Mentioned,Net Sentiment
0,kdmzrq,0,1,2020-12-15,09:46:52,0,7.0,0.0,3.0,['GME'],7.0
1,kdn7tr,0,0,2020-12-15,09:59:42,0,0.0,0.0,10.0,"['Apple', 'AAPL']",0.0
2,kdnan4,0,1,2020-12-15,10:03:43,0,7.0,0.0,10.0,['PLTR'],7.0
3,kdnbkk,0,1,2020-12-15,10:05:04,0,7.0,0.0,2.0,['GME'],7.0
4,kdnqux,0,0,2020-12-15,10:28:40,0,0.0,0.0,10.0,"['GME', 'Renaissance IPO ETF']",0.0

In [215]:
df_timeseries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373101 entries, 0 to 373100
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                373101 non-null  object
 1   num_comments      373101 non-null  int64
 2   score             373101 non-null  int64
 3   created_et_date   373101 non-null  object
 4   created_et_time   373101 non-null  object
 5   gme_timeline      373101 non-null  int64
 6   Positive          372018 non-null  float64
 7   Negative          372018 non-null  float64
 8   Neutral           372018 non-null  float64
 9   Stocks Mentioned  372018 non-null  object
 10  Net Sentiment     372018 non-null  float64
dtypes: float64(4), int64(3), object(4)
memory usage: 31.3+ MB

In [216]:
#reading in stock data 
stock_5min = pd.read_csv('/Users/jasleenmadan/Documents/Workspace/Projects/Field_Project/MultiDataset_CBL/out_data/Stock output folder/combined_5min_stockdata.csv')

In [217]:
stock_5min = stock_5min[['DateTime','GME_Close','GME_5min_return']]

In [218]:
stock_5min.head()

              DateTime  GME_Close  GME_5min_return
0  2020-12-15 09:30:00     3.2088              NaN
1  2020-12-15 09:35:00     3.2325         0.007386
2  2020-12-15 09:40:00     3.1975        -0.010828
3  2020-12-15 09:45:00     3.1715        -0.008131
4  2020-12-15 09:50:00     3.1600        -0.003626

In [219]:
stock_5min['DateTime'] = pd.to_datetime(stock_5min['DateTime'])

In [220]:
df_timeseries['DateTime'] = pd.to_datetime(df_timeseries['created_et_date'] + ' ' + df_timeseries['created_et_time'])
df_timeseries['DateTime'] = pd.to_datetime(df_timeseries['DateTime'])
df_timeseries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373101 entries, 0 to 373100
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                373101 non-null  object
 1   num_comments      373101 non-null  int64
 2   score             373101 non-null  int64
 3   created_et_date   373101 non-null  object
 4   created_et_time   373101 non-null  object
 5   gme_timeline      373101 non-null  int64
 6   Positive          372018 non-null  float64
 7   Negative          372018 non-null  float64
 8   Neutral           372018 non-null  float64
 9   Stocks Mentioned  372018 non-null  object
 10  Net Sentiment     372018 non-null  float64
 11  DateTime          373101 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 34.2+ MB

In [221]:
df_timeseries = df_timeseries.drop(['created_et_date', 'created_et_time'], axis=1)
df_timeseries = df_timeseries.sort_values(by='DateTime').reset_index(drop=True)
df_timeseries.head()

,id,num_comments,score,gme_timeline,Positive,Negative,Neutral,Stocks Mentioned,Net Sentiment,DateTime
0,kdmpvv,0,1,0,0.0,0.0,10.0,['AMTD'],0.0,2020-12-15 09:30:44
1,kdmpx7,9,87,0,6.0,0.0,0.0,[],6.0,2020-12-15 09:30:49
2,kdmqxe,1,1,0,0.0,0.0,10.0,['NWARF'],0.0,2020-12-15 09:32:28
3,kdmqzl,0,1,0,0.0,0.0,10.0,['VLDR'],0.0,2020-12-15 09:32:34
4,kdmr9m,0,0,0,0.0,0.0,10.0,"['PLTR', 'AMD']",0.0,2020-12-15 09:33:01

In [286]:
from scipy import stats
df_timeseries_indexed = df_timeseries.set_index('DateTime')

def get_mode(series):
    if len(series) == 0:
        return np.nan
    mode_result = stats.mode(series, keepdims=True)
    return mode_result.mode[0]

aggregated_sentiment = df_timeseries_indexed.resample('5min', label='left', closed='left').agg({
    'num_comments': 'sum',           # Sum of comments over 5 minutes
    'score': 'max',                  # Maximum score over 5 minutes
    'gme_timeline': get_mode,        # Mode gme_timeline
    'Positive': 'mean',              # Average positive sentiment
    'Negative': 'mean',              # Average negative sentiment
    'Neutral': 'mean',               # Average neutral sentiment
    'Net Sentiment': 'mean'          # Average net sentiment
}).reset_index()

# Rename columns 
aggregated_sentiment.columns = [
    'DateTime',
    'num_comments_5min',
    'score_max_5min', 
    'gme_timeline_mode_5min',
    'Positive_avg_5min',
    'Negative_avg_5min',
    'Neutral_avg_5min',
    'Net_Sentiment_avg_5min'
]

merged_df_ts = pd.merge(
    stock_5min, 
    aggregated_sentiment, 
    on='DateTime', 
    how='left'  
)

merged_df_ts.head()

,DateTime,GME_Close,GME_5min_return,num_comments_5min,score_max_5min,gme_timeline_mode_5min,Positive_avg_5min,Negative_avg_5min,Neutral_avg_5min,Net_Sentiment_avg_5min
0,2020-12-15 09:30:00,3.2088,NaN,23,87.0,0.0,0.857143,0.000000,8.571429,0.857143
1,2020-12-15 09:35:00,3.2325,0.007386,185,1862.0,0.0,4.363636,0.090909,4.818182,4.272727
2,2020-12-15 09:40:00,3.1975,-0.010828,1247,23033.0,0.0,3.300000,0.600000,6.500000,2.700000
3,2020-12-15 09:45:00,3.1715,-0.008131,131,239.0,0.0,3.777778,0.000000,5.888889,3.777778
4,2020-12-15 09:50:00,3.1600,-0.003626,1,2.0,0.0,1.833333,0.000000,8.500000,1.833333

In [274]:
import ast
df_timeseries['Stocks Mentioned'] = (
    df_timeseries['Stocks Mentioned']
    .fillna('[]')                     
    .apply(ast.literal_eval)           
)

mask = df_timeseries['Stocks Mentioned'].apply(lambda lst: 'GME' in lst)
gme_df = df_timeseries[mask]

(207412, 10)

In [302]:
#removing 5 min market opening and closing times 
from datetime import time
merged_df_ts = merged_df_ts[merged_df_ts['DateTime'].dt.time != time(9, 30)]
merged_df_ts = merged_df_ts[merged_df_ts['DateTime'].dt.time != time(16, 00)]
merged_df_ts.shape

(3850, 10)

In [ ]:
#gme_df agg at 5 min